html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center; /* Alinha os elementos quando estão em mais de uma linha */
}

.box {
  width: 250px;
  height: 60px;
  background: #2862f5;
  margin: 5px;
  /* flex é a junção de flex-grow e flex-shrink (flex: 1 0;)*/
}
