html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
}

.box {
  width: 300px;
  height: 60px;
  background: #2862f5;
  margin: 5px;
  flex-: 1;
  /* flex é a junção de flex-grow e flex-shrink (flex: 1 0;)*/
}
